body{
    margin:0;
    text-transform: capitalize;
}
#nav{
   width: 100%;
    display: flex;
    justify-content: end;
    color:white;
    font-size: 25px;
    padding:10px;
}
#nav a{
    text-decoration: none;
    color: white;
    padding:20px;
}
#welcome-section{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 a{
    text-decoration: none;
    color: white;
}
h1 a:hover{
    color: brown;
}
#nav a:hover{
    color: black;
    background-color: white;
    font-size: 30px;
}
#main{
color: brown;
text-decoration: underline;
font-style: italic;

}
#pr-head{
    text-align: center;
    color: brown;
}
#projects{
    display: flex;
flex-wrap: wrap;
justify-content: center;
padding:20px;
text-align: center;

}
#project-1,#project-2,#project-3,#project-4{
   height: 200px;
   text-align: center;
   margin: 30px;
   
}
#project-3:hover{
    height: 300px;
    
}
#project-2:hover{
    height: 300px;
}
#project-1:hover{
    height:300px ;
}
#project-4:hover{
    height:300px ;
}
#contact-info{
    text-align: center;
    background-color: rgb(97, 17, 12);
    color: white;
    
}
.pr-container{
    background-color: black;
    margin: 20px;
    height: 60%;
    width: 40%;
    border-radius: 30px;
}
.contact-link{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin:10px;
    font-size: 20px;
    display:inline-block;
    
}
.contact-link:hover{
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    margin: 20px;
    color: black;

}
@media screen and ( max-width:700px){
    #nav{
        display: flex;
        flex-direction: column;
    }
}
@media screen and ( max-width:700px){
    #welcome-section{
        display: flex;
        flex-direction: row;
        height: 100vh;
        flex-wrap: wrap;
        text-align: justify;
    }
}